extends authLayout

block content
    div.container
        div.jumbotron
            h2 Hello, #{name}!
            
    // Check that user info is passed from login/create acccount
    div.container
        div.jumbotron
            if errors
                div.alert.alert-danger
                    each error in errors
                        div=error
            form(method="post" action="/search")
                div.form-group
                    input(type="text" placeholder="ISBN, Title, or Author" name="searchKeyword").form-control
                div.form-group
                    input(type="text" placeholder="Zip Code" name="zipCode").form-control
                button(type="submit").btn.btn-primary Find Book
        
    div.container
        div.jumbotron
            h3 Books to Trade/Sell
            a.btn.btn-primary(href="/addbook") Add Book
            div.book_listing
                table
                    thead
                        tr.head
                            th ISBN
                            th TITLE
                            th AUTHOR
                            th EDITION
                            th PRICE
                            th STATUS
                    tbody
                        if userBooks
                            -function formatPrice(price){
                                -price = parseFloat(price).toFixed(2);
                                -price = "$" + price;
                                -return(price);
                            -}
                            each entry in userBooks
                                tr
                                    td #{entry.book.isbn}
                                    td #{entry.book.title}
                                    td #{entry.book.author}
                                    td #{entry.book.edition}
                                    td #{formatPrice(entry.price)}
                                    td #{entry.status}
                                    td #{entry.zipCode}
            h3 Requested Books
            div.book_listing
                table
                    thead
                        tr.head
                            th ISBN
                            th TITLE
                            th AUTHOR
                            th EDITION
                            th PRICE
                            th STATUS
                            th SELLER
                    tbody
                            if  userRequests 
                                each entry in userRequests
                                    tr
                                        td #{entry.book.isbn}
                                        td #{entry.book.title}
                                        td #{entry.book.author}
                                        td #{entry.book.edition}
                                        td #{formatPrice(entry.price)}
                                        td #{entry.transaction.status.status}
                                        td #{entry.transaction.buyer.name}


                    
            
