extends authLayout

block content
    div.container
        div.jumbotron
            if instance
                -function formatPrice(price){
                    -price = parseInt(price).toFixed(2);
                    -price = "$" + price;
                    -return(price);
                -}
                table
                    tr
                        th ISBN
                        td #{instance.book.isbn}
                    tr
                        th TITLE
                        td #{instance.book.title}
                    tr
                        th AUTHOR
                        td #{instance.book.author}
                    tr
                        th EDITION
                        td #{instance.book.edition}
                    tr
                        th PRICE
                        td #{formatPrice(instance.price)}
                    tr
                        td
                        td
                            button.btn.btn-primary(href="#") Purchase
            else
                p No book selected.